.img-produtos
{
    height: auto;
    width: 180px;
    margin-bottom: 30px;
}

.balao-qtd {
    background: radial-gradient(ellipse at center,black 0%,black 0%,black 70%,rgba(0,0,0,0) 70%);
    color: white;
    text-align: center;
    padding: 1px 5px 1px 5px;
    position: absolute;
    top: 30px;
    right: 8px;
}

#img-logo
{
    height: 80px;
    width: 200px;
}

article
{
    display: inline-block;
    padding: 20px;
}

.li-none
{
    list-style-type: none;
}

.link
{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.link:hover
{
    color: black;
    font-weight: bolder;
}

.info-produto
{
    text-align: right;
    font-size: 12px;    
}

.bloco-produtos
{
    margin-top: 50px;
    width: 240px;
}

.botao-compra
{
    color: white;
    text-align: center;
    background-color: orange; 
    padding: 10px 12px 10px 12px;
    display: block;
}

.botao-compra:hover
{
    color: white;
    background-color: black;
}

.menu
{
    background-color: transparent; 
    border-bottom: 2px solid orange;    
    margin-bottom: 50px;
}

#link-ico
{
    color: orange;
    transition: color 0.3s;
}

#link-ico:hover
{
    color: black;
}

.container-itens
{
    display: flex;
    flex-direction: row;
}

.items-tamanho
{
    font-size: 12px;
    color: white;
    margin: 1px;
    height: 35;
    width: 35;
    text-align: center;
    line-height: 35px;
    background-color: orange;
    transition: background-color 0.3s;
}

.items-tamanho:hover
{
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: bolder;
}

.ordenar
{
    float: right; 
    position: sticky;
    padding: 5px;
}

.rodape
{
    background-color: black;
    height: 30px;
    width: 100%;
    text-align: center;
    align-content: center;
}

#carrinho {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.nome_cliente {
    text-align: center;
    font-weight: bolder;
    position: sticky;
}

.btn-mostrar {
    background-color: orange;
    color: white;
    border-radius: 0;
    transition: background-color 0.3s;
    padding: 5px 50px 5px 50px;
}

.mini-carrinho {
    display: none;
    min-height: 80px;
    max-height: 500px;
    width: 400px;
    border: 1px solid orange;
    background-color: white;
    color: black;
    position: absolute;
}

.carrinho:hover .mini-carrinho {
    display: block;
    right: 17px;
    z-index: 1;
}

.btn-mostrar:hover {
    background-color: black;
}

table {
    font-size: 14px;
    margin-left: 20px;

}

table a {
    padding-left: 10px;
}

table td {
    color: black;
    padding-bottom: 5px;
}

.finaliza {
    margin-top: 10px;
    padding-bottom: 25px;
}

.remover {
    float: left;
    margin-left: 20px;
}

.btn-final {
    float: right;
    margin-right: 20px;
}

table td {
    padding-right: 15px;
}

@media only screen and (max-width: 1000px){
    ul {
        display: none;
    }

    select {
        display: none;
    }

    .btns {
        width: 100%;
    }

    .filtro {
        width: 50%;
    }

    .btn-ordena {
        width: 49%;
    }

    .btn-mobile {
        cursor: pointer;
        padding: 10px;
        display: inline-block;
        border: 1px solid black;
        background-color: transparent;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-mobile:hover {
        background-color: orange;
        color: white;
    }

    .btn-mostrar {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .btns {
        display: none;
    }  
}

@media only screen and (max-width: 465px) {
    .filtro {
        width: 48%;
    }

    .btn-ordena {
        width: 48%;
    }
}